<amplify-authenticator>
  <div>
    <amplify-sign-out button-text="Sign Out" (click)="Signout()"></amplify-sign-out>
  </div>
</amplify-authenticator>

<div *ngIf="!authenticated" style=" padding-top: 5%; text-align: center;"> 
<h1>Welcome to Awesome Booking - Team 4</h1>
<div>
  <button type="button" class="btn btn-info cst-btn" style="margin-top: 20px;" (click)="CheckAuth()">Start Booking!</button>
</div>
<img src="../assets/1.png" width="200" >
</div>

<div *ngIf="authenticated">
  <app-search></app-search>
</div>