<amplify-authenticator>
  <div>
    <amplify-sign-out button-text="Sign Out" (click)="Signout()"></amplify-sign-out>
  </div>
</amplify-authenticator>

<div *ngIf="!authenticated" style=" padding-top: 5%; text-align: center;">
<h1>Welcome to Book your Flight </h1>
<br>
<button type="button" class="btn btn-info cst-btn" (click)="CheckAuth()">Start Booking!</button>
</div>

<div *ngIf="authenticated">
  <h2 style="padding: 24px; color: black; text-align: left;" >Welcome back {{name}} !!</h2>
  <app-search></app-search>
</div>